 
@font-face {
     font-family: 'HelveticaNeueCyr';
     font-style: normal;
     font-weight: 700;
     src: url('../fonts/HelveticaNeueCyr-Bold.woff') format('woff'),
          url('../fonts/HelveticaNeueCyr-Bold.ttf') format('truetype');
     font-display: swap; 
}
 
@font-face {
     font-family: 'HelveticaNeueCyr';
     font-style: normal;
     font-weight: 550;
     src: url('../fonts/HelveticaNeueCyr-Medium.woff') format('woff'),
          url('../fonts/HelveticaNeueCyr-Medium.ttf') format('truetype');
     font-display: swap; 
}
 
@font-face {
     font-family: 'HelveticaNeueCyr';
     font-style: normal;
     font-weight: 400;
     src: url('../fonts/HelveticaNeueCyr-Roman.woff') format('woff'),
          url('../fonts/HelveticaNeueCyr-Roman.ttf') format('truetype');
     font-display: swap; 
}
  