//Цвета проекта 
$white: #FFFFFF;  
$black: #000000;

$bg: #1B1F22;
$bg-line: #292B32;
$bg-link: #313538;
$bg-card: #25292C; 

$main-menu: #CBCECF;
$main-dark: #1B1F22;
$gray-font: #7F8589;
$red: #FF3E41;
$gray-border: #303638;

$telegram: #259CD8;
$whatsApp: #1e9d10;
$e-Mail: #e0b400;
$viber: #7b25d8;

// Z индексы 
$z-bg: -10;
$z-normal: 0;
$z-on-top: 10;
$z-sticky-header: 100;
